---
import { markdownify } from "@/lib/utils/textConverter";
import HomapageFeature from "@/layouts/function-components/HomapageFeature";
const { key_features } = Astro.props;
const { title, description, feature_list } = key_features;
---

<section class="section relative lg:px-8">
  <div
    class="container flex flex-col bg-gradient-to-t from-[#e6f6ee]/50 to-[#8bcfad]/50 lg:rounded-3xl p-4 lg:p-16 h-full w-full max-w-screen">
    <div
      class="mb-8 flex justify-center flex-col items-center rounded-xl bg-white px-8 py-16 shadow-lg">
      <h3
        class="h4 text-2xl font-black text-center lg:text-[3rem] pb-8"
        set:html={markdownify(title)}
      />
      <p
        class="text-base max-w-[75ch] text-center"
        set:html={markdownify(description)}
      />
    </div>

    <!-- <p class="text-black/50 text-pretty" set:html={markdownify(description)} /> -->

    <!-- cuadro proyecciones -->
    <div class="overflow-auto" id="container-table">
      <table
        class="table-auto mx-auto lg:my-8 w-full rounded-xl bg-white border-4 overflow-hidden">
        <tr>
          <td class="text-xs md:text-base bg-primary font-black text-white border border-white p-2"
          ></td>
          <td class="bg-primary text-white border border-white p-2 text-center"
            >2024</td
          >
          <td class="bg-primary text-white border border-white p-2 text-center"
            >2025</td
          >
          <td class="bg-primary text-white border border-white p-2 text-center"
            >2026</td
          >
          <td class="bg-primary text-white border border-white p-2 text-center"
            >2027</td
          >
          <td class="bg-primary text-white border border-white p-2 text-center"
            >2028</td
          >
          <td class="bg-primary text-white border border-white p-2 text-center"
            >2029</td
          >
          <td class="bg-primary text-white border border-white p-2 text-center"
            >2030</td
          >
          <td class="bg-primary text-white border border-white p-2 text-center"
            >2031</td
          >
        </tr>
        <tr>
          <td class="text-xs md:text-base bg-primary font-black text-white border border-white p-2"
            >BLAZQUEZ</td
          >
          <td class="bg-primary text-white border border-white p-2"
            >4,567 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >5,822 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >5,981 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >5,981 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >6,204 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >7,204 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >7,704 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >8,104 <span class="text-xs">tons</span></td
          >
        </tr>
        <tr>
          <td class="text-xs md:text-base bg-primary font-black text-white border border-white p-2"
            >DELOTTE</td
          >
          <td class="bg-primary text-white border border-white p-2"
            >7,140 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >8,365 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >9,090 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >9,260 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >9,260 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >10,260 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >10,760 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >11,160 <span class="text-xs">tons</span></td
          >
        </tr>
        <tr>
          <td class="text-xs md:text-base bg-primary font-black text-white border border-white p-2"
            >D. ALVAREZ</td
          >
          <td class="bg-primary text-white border border-white p-2"
            >6,400 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >7,800 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >8,100 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >8,300 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >9,100 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >10,100 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >10,500 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >11,000 <span class="text-xs">tons</span></td
          >
        </tr>
        <tr>
          <td class="text-xs md:text-base bg-primary font-black text-white border border-white p-2"
            >SS. JALIL</td
          >
          <td class="bg-primary text-white border border-white p-2"
            >17,251 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >20,361 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >21,992 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >23,274 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >24,712 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >27,526 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >29,026 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >29,826 <span class="text-xs">tons</span></td
          >
        </tr>
        <tr>
          <td class="text-xs md:text-base bg-primary font-black text-white border border-white p-2"
            >TOTAL</td
          >
          <td class="bg-primary text-white border border-white p-2"
            >35,358 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >42,348 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >45,163 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >47,415 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >49,276 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >55,090 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >58,090 <span class="text-xs">tons</span></td
          >
          <td class="bg-primary text-white border border-white p-2"
            >60,090 <span class="text-xs">tons</span></td
          >
        </tr>
      </table>
    </div>
    <HomapageFeature feature_list={feature_list} client:load />
  </div>
</section>

<style>
  #container-table {
    scrollbar-width: thin;
  }
</style>