---
import { markdownify } from "@/lib/utils/textConverter";

const { page_data } = Astro.props || {};
const { content } = page_data || {};
---

<div
	class="text-center rounded-t-3xl py-12 shadow lg:min-h-[50vh]"
	id="hero-sections">
	<div class="w-full text-balance lg:px-24 lg:py-6">
		<h6
			class="font-black text-[2rem] pt-4 lg:pt-0 lg:!text-[4vw] text-white motion-delay-[5ms] motion-scale-in-[0.8] motion-translate-x-in-[0%] motion-translate-y-in-[-42%] motion-duration-[500ms]"
			set:html={markdownify(
				page_data?.page_title ? page_data?.page_title : page_data?.title
			)}
		/>
	</div>
</div>

<div
	class="container mx-auto py-12 rounded-b-3xl bg-white p-5 shadow-lg lg:p-10">
	<p
		class="text-start text-sm lg:text-xl mx-auto text-balance max-w-[75ch]"
		set:html={markdownify(content)}
	/>
</div>

<style>
	#hero-sections {
		background:
			linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
			url("/images/inducitrica/quinta2.jpg");
		width: 100%;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		z-index: 10;
	}
	@media screen and (max-width: 768px) {
		#hero-sections {
			background-attachment: scroll;
		}
	}
</style>
