
.home-swiper-bg {
  /* position: fixed; */
  background: linear-gradient(
    25deg,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border: 2px solid transparent;
  /* box-shadow:
    0 0 0 2px rgba(255, 255, 255, 0.075),
    0 16px 32px rgba(0, 0, 0, 0.1); */
  backdrop-filter: url(#frosted);
  -webkit-backdrop-filter: url(#frosted);
  cursor: pointer;
  outline: 0;
  border: none;
}
.home-swiper-bg:hover {
  transform: transition ease-in-out 0.3s;
  box-shadow:
    0 0 0 2px rgba(255, 255, 255, .05),
    0 16px 32px rgba(0, 0, 0, 0.1);
}
/* .plus {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid transparent;
  box-shadow:
    0 0 0 2px rgba(255, 255, 255, 0.6),
    0 16px 32px rgba(0, 0, 0, 0.12);
  backdrop-filter: url(#frosted);
  -webkit-backdrop-filter: url(#frosted);
  display: grid;
  place-items: center;
  cursor: pointer;
  outline: 0;
}
.plus::before,
.plus::after {
  content: "";
  position: absolute;
  width: 4%;
  height: 10px;
  background: #fff;
  border-radius: 10px;
}
.plus::after {
  transform: rotate(90deg);
} */

.swiper {
  cursor: pointer;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  bottom: 20px !important;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}

/* Botones de navegación */
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  width: 40px;
  height: 40px;
  opacity: 0.75;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  position: absolute;
  transition: all 0.3s ease;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
}

.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
}

@media (width < 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
